@import url("https://fonts.googleapis.com/css2?family=Inter&family=Russo+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  button {
    -webkit-tap-highlight-color: transparent;
  }
  .specialInput {
    position: absolute;
    animation: emptyInput 0.1s infinite ease-in-out;
  }

  @keyframes emptyInput {
    0% {
      left: 1px;
      transform: rotate(0deg);
    }
    50% {
      left: -1px;
      transform: rotate(0.3deg);
    }
    100% {
      left: 1px;
      transform: rotate(0deg);
    }
  }
}
