@import url("https://fonts.googleapis.com/css2?family=Inter&family=Russo+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  button {
    -webkit-tap-highlight-color: transparent;
  }
  .specialInput {
    width: 70% !important;
    position: absolute;
    left: 45px;
    animation: emptyInput 0.1s infinite ease-in-out;
  }

  @keyframes emptyInput {
    0% {
      left: 46px;
      transform: rotate(0deg);
    }
    50% {
      left: 44px;
      transform: rotate(0.5deg);
    }
    100% {
      left: 46px;
      transform: rotate(0deg);
    }
  }

  @media not all and (min-width: 640px) {
    .specialInput {
      left: 5px;
      width: 100% !important;
      animation: emptyInputsmall 0.1s infinite ease-in-out;
    }

    @keyframes emptyInputsmall {
      0% {
        left: 6px;
        transform: rotate(0deg);
      }
      50% {
        left: 4px;
        transform: rotate(0.3deg);
      }
      100% {
        left: 6px;
        transform: rotate(0deg);
      }
    }
  }
}
